@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  background-color: #77C4F2;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.row {
  padding: 10px;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #00A000;
  padding: 10px;
  float: left;
  margin-left: 15px;
  line-height: 80px;
  font-size: 50px;
}