@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  background-color: #FDC830;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  width: 368px;
  margin: 20px auto;
}

.row {
  display: inline-block;
  margin-bottom: -4px;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 10px;
  line-height: 100px;
  font-size: 50px;
  float: left;
  color: white;
}

#error {
  display: block;
}

button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background: #EC6767;
  border: 0;
  font-size: 125%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;

  &:hover {
    background: #2288bb;
  }
}

.games-list {
  list-style-type: none;
  padding-left: 0;

  li {
    padding-top: 10px;
  }
}

.box-1 {
  border-bottom: 2px white solid;
  border-right: 2px white solid;
}

.box-2 {
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  border-left: 2px white solid;
}

.box-3 {
  border-bottom: 2px white solid;
  border-left: 2px white solid;
}

.box-4 {
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
}

.box-5 {
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  border-left: 2px white solid;
}

.box-6 {
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  border-left: 2px white solid;
}

.box-7 {
  border-top: 2px white solid;
  border-right: 2px white solid;
}

.box-8 {
  border-top: 2px white solid;
  border-right: 2px white solid;
  border-left: 2px white solid;
}

.box-9 {
  border-top: 2px white solid;
  border-left: 2px white solid;
}

.clearfix {
  clear: both;
}