<section class="content">
    <h1><%- resData.game %></h1>

    <h2>
        You are: <%- resData.role[0] %>
        <br>
        Turn: Player <span id="turn"><%- resData.role[1] %></span>
    </h2>

    <h3 onclick="leave('<%= resData.game %>')">Leave</h3>

    <div class="wrapper">
        <div class="row">
            <div class="box box-1" id="1" onclick="setMove(this.id)"></div>
            <div class="box box-2" id="2" onclick="setMove(this.id)"></div>
            <div class="box box-3" id="3" onclick="setMove(this.id)"></div>
        </div>
        <div class="row">
            <div class="box box-4" id="4" onclick="setMove(this.id)"></div>
            <div class="box box-5" id="5" onclick="setMove(this.id)"></div>
            <div class="box box-6" id="6" onclick="setMove(this.id)"></div>
        </div>
        <div class="row">
            <div class="box box-7" id="7" onclick="setMove(this.id)"></div>
            <div class="box box-8" id="8" onclick="setMove(this.id)"></div>
            <div class="box box-9" id="9" onclick="setMove(this.id)"></div>
        </div>
        <div class="clearfix">

        </div>
    </div>
    <span id="error"></span>
</section>